.containerService{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 2rem;
    padding: 1rem;
}

.imgService{
    align-self: flex-end;
    height: 500px;
    border: 1px solid var(--color-primary);
    border-radius: 5% 5% 0 0;
}

.imgService img{
    height: 100%;
    border-radius: 5% 5% 0 0 ;
}

.textService{
    padding-top: 2rem;  
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.titleService{
    font-size: 2rem;
    color: var(--color-primary);
}

.contentService{
    margin-top: 2rem;
    line-height: 2.5rem;
    text-align: justify;
    padding: 0 3rem;
    font-size: 1.6rem;
    font-weight: 200;
}
.cards{
    display: flex;
    gap: 1rem;
}
.containerCards{
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column ;
    align-items: center;
    border: 1px solid var(--color-primary);
    background: var(--color-bg);
    border-radius: 5% 5% 0 0 ;

}
.iconCard{
    color: var(--color-primary);
    font-size: 3rem;
    margin: 1rem;
}

@media screen and (max-width:960px){
    .containerService{
        align-items: unset;
        gap: 0.5rem;
    }
    .titleService{
        font-size: 1.5rem;
    }

    .imgService{
        width: fit-content;
        margin-top :6rem;
    }
    .containerCards{

        width: 180px;

    
    }

}

@media screen and (max-width:600px){
    .titleService{
        font-size: 1.1rem;
    }
    .containerService{
        flex-direction: column;
    }
    .imgService{
        width: 18rem;
        margin: 0 auto;
        
    }
    .imgService img{
        width: 100%;
    } 
    .textService{
        padding-top:0 ;
    }
    .contentService{
        text-align: justify;
        min-width: 18rem;
        line-height: 1.2;
        font-size: 1.2rem;
    }
    .cards{
        flex-direction: column;
    }
}